@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.debug {
  background-color: rgba(0, 100, 0, 0.1) !important;
  outline: 1px solid limegreen !important;
}
.debug2 {
  border: 1px solid red;
}

.card {
  @apply border border-gray-200 rounded-lg shadow-md;
}

.primary-button {
  @apply px-4 py-2 rounded shadow outline-none bg-amber-300 hover:bg-amber-400 active:bg-amber-500 transition duration-300 ease-in-out;
}
